.envrc
/repos/chef-base-plans/admin/base-plan-skeleton/
/repos/chef-base-plans/admin/plan-builder/
/repos/chef-base-plans/admin/support/
/repos/chef-base-plans/base-plans/acl/
/repos/chef-base-plans/base-plans/alsa-lib/
/repos/chef-base-plans/base-plans/attr/
/repos/chef-base-plans/base-plans/autoconf/
/repos/chef-base-plans/base-plans/automake/
/repos/chef-base-plans/base-plans/aws-cli/
/repos/chef-base-plans/base-plans/base-plan-skeleton/
/repos/chef-base-plans/base-plans/bash/
/repos/chef-base-plans/base-plans/bats/
/repos/chef-base-plans/base-plans/bc/
/repos/chef-base-plans/base-plans/binutils/
/repos/chef-base-plans/base-plans/bison/
/repos/chef-base-plans/base-plans/btrfs-progs/
/repos/chef-base-plans/base-plans/buildah/
/repos/chef-base-plans/base-plans/bundler/
/repos/chef-base-plans/base-plans/busybox-static/
/repos/chef-base-plans/base-plans/busybox/
/repos/chef-base-plans/base-plans/bzip2-musl/
/repos/chef-base-plans/base-plans/bzip2/
/repos/chef-base-plans/base-plans/cacerts/
/repos/chef-base-plans/base-plans/check/
/repos/chef-base-plans/base-plans/chef-client/
/repos/chef-base-plans/base-plans/chef-workstation/
/repos/chef-base-plans/base-plans/clens/
/repos/chef-base-plans/base-plans/cmake/
/repos/chef-base-plans/base-plans/concourse/
/repos/chef-base-plans/base-plans/coreutils/
/repos/chef-base-plans/base-plans/corretto/
/repos/chef-base-plans/base-plans/corretto11/
/repos/chef-base-plans/base-plans/corretto8/
/repos/chef-base-plans/base-plans/cpanminus/
/repos/chef-base-plans/base-plans/curl/
/repos/chef-base-plans/base-plans/cyrus-sasl/
/repos/chef-base-plans/base-plans/db/
/repos/chef-base-plans/base-plans/dejagnu/
/repos/chef-base-plans/base-plans/dep/
/repos/chef-base-plans/base-plans/devicemapper/
/repos/chef-base-plans/base-plans/dex/
/repos/chef-base-plans/base-plans/diffutils/
/repos/chef-base-plans/base-plans/docker/
/repos/chef-base-plans/base-plans/docker17/
/repos/chef-base-plans/base-plans/elixir/
/repos/chef-base-plans/base-plans/erlang/
/repos/chef-base-plans/base-plans/erlang16/
/repos/chef-base-plans/base-plans/erlang18/
/repos/chef-base-plans/base-plans/erlang19/
/repos/chef-base-plans/base-plans/erlang20/
/repos/chef-base-plans/base-plans/erlang21/
/repos/chef-base-plans/base-plans/erlang22/
/repos/chef-base-plans/base-plans/expat/
/repos/chef-base-plans/base-plans/expect/
/repos/chef-base-plans/base-plans/file/
/repos/chef-base-plans/base-plans/findutils/
/repos/chef-base-plans/base-plans/fixesproto/
/repos/chef-base-plans/base-plans/flex/
/repos/chef-base-plans/base-plans/fontconfig/
/repos/chef-base-plans/base-plans/freetype/
/repos/chef-base-plans/base-plans/gawk/
/repos/chef-base-plans/base-plans/gcc-libs/
/repos/chef-base-plans/base-plans/gcc/
/repos/chef-base-plans/base-plans/gdal/
/repos/chef-base-plans/base-plans/gdbm/
/repos/chef-base-plans/base-plans/gecode/
/repos/chef-base-plans/base-plans/geos/
/repos/chef-base-plans/base-plans/gettext/
/repos/chef-base-plans/base-plans/git/
/repos/chef-base-plans/base-plans/glibc/
/repos/chef-base-plans/base-plans/gmp/
/repos/chef-base-plans/base-plans/go/
/repos/chef-base-plans/base-plans/go14/
/repos/chef-base-plans/base-plans/go17/
/repos/chef-base-plans/base-plans/gpgme/
/repos/chef-base-plans/base-plans/grep/
/repos/chef-base-plans/base-plans/groff/
/repos/chef-base-plans/base-plans/gzip/
/repos/chef-base-plans/base-plans/hugo/
/repos/chef-base-plans/base-plans/iana-etc/
/repos/chef-base-plans/base-plans/inetutils/
/repos/chef-base-plans/base-plans/inputproto/
/repos/chef-base-plans/base-plans/inspec-client/
/repos/chef-base-plans/base-plans/iproute2/
/repos/chef-base-plans/base-plans/iptables/
/repos/chef-base-plans/base-plans/jq-static/
/repos/chef-base-plans/base-plans/kbproto/
/repos/chef-base-plans/base-plans/less/
/repos/chef-base-plans/base-plans/libaio/
/repos/chef-base-plans/base-plans/libarchive-musl/
/repos/chef-base-plans/base-plans/libarchive/
/repos/chef-base-plans/base-plans/libassuan/
/repos/chef-base-plans/base-plans/libbsd/
/repos/chef-base-plans/base-plans/libcap/
/repos/chef-base-plans/base-plans/libedit/
/repos/chef-base-plans/base-plans/libevent/
/repos/chef-base-plans/base-plans/libffi/
/repos/chef-base-plans/base-plans/libgpg-error/
/repos/chef-base-plans/base-plans/libiconv/
/repos/chef-base-plans/base-plans/libidn2/
/repos/chef-base-plans/base-plans/libmpc/
/repos/chef-base-plans/base-plans/libossp-uuid/
/repos/chef-base-plans/base-plans/libpng/
/repos/chef-base-plans/base-plans/libpthread-stubs/
/repos/chef-base-plans/base-plans/libseccomp/
/repos/chef-base-plans/base-plans/libsodium-musl/
/repos/chef-base-plans/base-plans/libsodium/
/repos/chef-base-plans/base-plans/libtool/
/repos/chef-base-plans/base-plans/libunistring/
/repos/chef-base-plans/base-plans/libxau/
/repos/chef-base-plans/base-plans/libxcb/
/repos/chef-base-plans/base-plans/libxdmcp/
/repos/chef-base-plans/base-plans/libxext/
/repos/chef-base-plans/base-plans/libxfixes/
/repos/chef-base-plans/base-plans/libxi/
/repos/chef-base-plans/base-plans/libxml2/
/repos/chef-base-plans/base-plans/libxrender/
/repos/chef-base-plans/base-plans/libxslt/
/repos/chef-base-plans/base-plans/libxtst/
/repos/chef-base-plans/base-plans/libyaml/
/repos/chef-base-plans/base-plans/linux-headers-musl/
/repos/chef-base-plans/base-plans/linux-headers/
/repos/chef-base-plans/base-plans/local-lib/
/repos/chef-base-plans/base-plans/m4/
/repos/chef-base-plans/base-plans/make/
/repos/chef-base-plans/base-plans/maven/
/repos/chef-base-plans/base-plans/memcached/
/repos/chef-base-plans/base-plans/mg/
/repos/chef-base-plans/base-plans/minio/
/repos/chef-base-plans/base-plans/mpfr/
/repos/chef-base-plans/base-plans/musl/
/repos/chef-base-plans/base-plans/mysql/
/repos/chef-base-plans/base-plans/ncurses/
/repos/chef-base-plans/base-plans/ncurses5/
/repos/chef-base-plans/base-plans/nghttp2/
/repos/chef-base-plans/base-plans/nginx/
/repos/chef-base-plans/base-plans/node/
/repos/chef-base-plans/base-plans/node10/
/repos/chef-base-plans/base-plans/node11/
/repos/chef-base-plans/base-plans/node12/
/repos/chef-base-plans/base-plans/node6/
/repos/chef-base-plans/base-plans/node8/
/repos/chef-base-plans/base-plans/node9/
/repos/chef-base-plans/base-plans/nss-myhostname/
/repos/chef-base-plans/base-plans/openjdk11/
/repos/chef-base-plans/base-plans/openssh/
/repos/chef-base-plans/base-plans/openssl-fips/
/repos/chef-base-plans/base-plans/openssl-musl/
/repos/chef-base-plans/base-plans/openssl/
/repos/chef-base-plans/base-plans/patch/
/repos/chef-base-plans/base-plans/patchelf/
/repos/chef-base-plans/base-plans/pcre/
/repos/chef-base-plans/base-plans/perl/
/repos/chef-base-plans/base-plans/phantomjs/
/repos/chef-base-plans/base-plans/pkg-config/
/repos/chef-base-plans/base-plans/plan-builder/
/repos/chef-base-plans/base-plans/postgresql-client/
/repos/chef-base-plans/base-plans/postgresql/
/repos/chef-base-plans/base-plans/postgresql11/
/repos/chef-base-plans/base-plans/postgresql93/
/repos/chef-base-plans/base-plans/postgresql94/
/repos/chef-base-plans/base-plans/postgresql95/
/repos/chef-base-plans/base-plans/postgresql96/
/repos/chef-base-plans/base-plans/procps-ng/
/repos/chef-base-plans/base-plans/proj/
/repos/chef-base-plans/base-plans/protobuf-cpp/
/repos/chef-base-plans/base-plans/protobuf-rust/
/repos/chef-base-plans/base-plans/protobuf/
/repos/chef-base-plans/base-plans/protobuf2/
/repos/chef-base-plans/base-plans/psmisc/
/repos/chef-base-plans/base-plans/python-minimal/
/repos/chef-base-plans/base-plans/python/
/repos/chef-base-plans/base-plans/python2/
/repos/chef-base-plans/base-plans/python34/
/repos/chef-base-plans/base-plans/python35/
/repos/chef-base-plans/base-plans/python36/
/repos/chef-base-plans/base-plans/python37/
/repos/chef-base-plans/base-plans/raml2html/
/repos/chef-base-plans/base-plans/readline/
/repos/chef-base-plans/base-plans/readline6/
/repos/chef-base-plans/base-plans/recordproto/
/repos/chef-base-plans/base-plans/renderproto/
/repos/chef-base-plans/base-plans/rq/
/repos/chef-base-plans/base-plans/rsync/
/repos/chef-base-plans/base-plans/ruby/
/repos/chef-base-plans/base-plans/ruby27/
/repos/chef-base-plans/base-plans/runc/
/repos/chef-base-plans/base-plans/rust/
/repos/chef-base-plans/base-plans/scaffolding-go/
/repos/chef-base-plans/base-plans/sed/
/repos/chef-base-plans/base-plans/shadow/
/repos/chef-base-plans/base-plans/sqitch/
/repos/chef-base-plans/base-plans/sqitch_pg/
/repos/chef-base-plans/base-plans/sqlite/
/repos/chef-base-plans/base-plans/support/
/repos/chef-base-plans/base-plans/tar/
/repos/chef-base-plans/base-plans/tcl/
/repos/chef-base-plans/base-plans/terraform/
/repos/chef-base-plans/base-plans/texinfo/
/repos/chef-base-plans/base-plans/tzdata/
/repos/chef-base-plans/base-plans/unzip/
/repos/chef-base-plans/base-plans/util-linux/
/repos/chef-base-plans/base-plans/util-macros/
/repos/chef-base-plans/base-plans/vim/
/repos/chef-base-plans/base-plans/wget/
/repos/chef-base-plans/base-plans/which/
/repos/chef-base-plans/base-plans/xcb-proto/
/repos/chef-base-plans/base-plans/xextproto/
/repos/chef-base-plans/base-plans/xlib/
/repos/chef-base-plans/base-plans/xproto/
/repos/chef-base-plans/base-plans/xtrans/
/repos/chef-base-plans/base-plans/xz-musl/
/repos/chef-base-plans/base-plans/xz/
/repos/chef-base-plans/base-plans/zeromq/
/repos/chef-base-plans/base-plans/zip/
/repos/chef-base-plans/base-plans/zlib-musl/
/repos/chef-base-plans/base-plans/zlib/
/repos/core-plans/
/scripts/results/
results/
vendor/
